@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@800&display=swap');

html {
  scroll-behavior: smooth;
}

#icon {
  font-family: 'Poppins', sans-serif;
}

.title-ice {
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
}

.container-card:hover .deskripsi  {
  transform: translateY(0%);
  will-change: transform;
}

.deskripsi {
  transform: translateY(100%);
  transition: transform 0.5s ease-in-out;
  will-change: transform;
}

#icon-footer {
  transition: .5s ease-in-out;
}

#icon-footer:hover {
  color: black;
}

